<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beautifulsoup.chengfeng.dao.PurchaseProductSkuMapper" >
  <resultMap id="BaseResultMap" type="com.beautifulsoup.chengfeng.pojo.PurchaseProductSku" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="attribute_name" property="attributeName" jdbcType="VARCHAR" />
    <result column="sales" property="sales" jdbcType="INTEGER" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="spell_price" property="spellPrice" jdbcType="DECIMAL" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, attribute_name, sales, stock, price, spell_price, product_id
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_purchase_product_sku
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_purchase_product_sku
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.beautifulsoup.chengfeng.pojo.PurchaseProductSku" >
    insert into tb_purchase_product_sku (id, attribute_name, sales, 
      stock, price, spell_price, 
      product_id)
    values (#{id,jdbcType=INTEGER}, #{attributeName,jdbcType=VARCHAR}, #{sales,jdbcType=INTEGER}, 
      #{stock,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{spellPrice,jdbcType=DECIMAL}, 
      #{productId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.beautifulsoup.chengfeng.pojo.PurchaseProductSku" >
    insert into tb_purchase_product_sku
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="attributeName != null" >
        attribute_name,
      </if>
      <if test="sales != null" >
        sales,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="spellPrice != null" >
        spell_price,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="attributeName != null" >
        #{attributeName,jdbcType=VARCHAR},
      </if>
      <if test="sales != null" >
        #{sales,jdbcType=INTEGER},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="spellPrice != null" >
        #{spellPrice,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.beautifulsoup.chengfeng.pojo.PurchaseProductSku" >
    update tb_purchase_product_sku
    <set >
      <if test="attributeName != null" >
        attribute_name = #{attributeName,jdbcType=VARCHAR},
      </if>
      <if test="sales != null" >
        sales = #{sales,jdbcType=INTEGER},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="spellPrice != null" >
        spell_price = #{spellPrice,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.beautifulsoup.chengfeng.pojo.PurchaseProductSku" >
    update tb_purchase_product_sku
    set attribute_name = #{attributeName,jdbcType=VARCHAR},
      sales = #{sales,jdbcType=INTEGER},
      stock = #{stock,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      spell_price = #{spellPrice,jdbcType=DECIMAL},
      product_id = #{productId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="AllResultMap" type="com.beautifulsoup.chengfeng.pojo.PurchaseProductSku" >
    <id column="s_id" property="id" jdbcType="INTEGER" />
    <result column="s_attribute_name" property="attributeName" jdbcType="VARCHAR" />
    <result column="s_sales" property="sales" jdbcType="INTEGER" />
    <result column="s_stock" property="stock" jdbcType="INTEGER" />
    <result column="s_price" property="price" jdbcType="DECIMAL" />
    <result column="s_spell_price" property="spellPrice" jdbcType="DECIMAL" />
    <result column="s_product_id" property="productId" jdbcType="INTEGER" />
    <association property="purchaseProduct" javaType="com.beautifulsoup.chengfeng.pojo.PurchaseProduct">
      <id column="p_id" property="id" jdbcType="INTEGER" />
      <result column="p_category_id" property="categoryId" jdbcType="INTEGER" />
      <result column="p_name" property="name" jdbcType="VARCHAR" />
      <result column="p_subtitle" property="subtitle" jdbcType="VARCHAR" />
      <result column="p_status" property="status" jdbcType="INTEGER" />
      <result column="p_main_image" property="mainImage" jdbcType="VARCHAR" />
      <result column="p_sub_images" property="subImages" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <sql id="All_Column_List" >
    s.id s_id, s.attribute_name s_attribute_name, s.sales s_sales, s.stock s_stock, s.price s_price, s.spell_price s_spell_price, s.product_id s_product_id,
    p.id p_id,p.category_id p_category_id,p.name p_name,p.subtitle p_subtitle,p.status p_status,p.main_image p_main_image,p.sub_images p_sub_images
  </sql>
  <select id="selectAllByPrimaryKey" resultMap="AllResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="All_Column_List" />
    from tb_purchase_product_sku s inner join tb_purchase_product p
    on s.product_id = p.id
    where s.id = #{id,jdbcType=INTEGER}
  </select>


</mapper>