<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beautifulsoup.chengfeng.dao.PurchaseProductMapper" >
  <resultMap id="BaseResultMap" type="com.beautifulsoup.chengfeng.pojo.PurchaseProduct" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="subtitle" property="subtitle" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="evaluation_nums" property="evaluationNums" jdbcType="INTEGER" />
    <result column="good_evaluation_nums" property="goodEvaluationNums" jdbcType="INTEGER" />
    <result column="main_image" property="mainImage" jdbcType="VARCHAR" />
    <result column="sub_images" property="subImages" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, category_id, name, subtitle, status, evaluation_nums, good_evaluation_nums, main_image, 
    sub_images
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_purchase_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_purchase_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.beautifulsoup.chengfeng.pojo.PurchaseProduct" >
    insert into tb_purchase_product (id, category_id, name, 
      subtitle, status, evaluation_nums, 
      good_evaluation_nums, main_image, sub_images
      )
    values (#{id,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{subtitle,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{evaluationNums,jdbcType=INTEGER}, 
      #{goodEvaluationNums,jdbcType=INTEGER}, #{mainImage,jdbcType=VARCHAR}, #{subImages,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.beautifulsoup.chengfeng.pojo.PurchaseProduct" >
    insert into tb_purchase_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="subtitle != null" >
        subtitle,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="evaluationNums != null" >
        evaluation_nums,
      </if>
      <if test="goodEvaluationNums != null" >
        good_evaluation_nums,
      </if>
      <if test="mainImage != null" >
        main_image,
      </if>
      <if test="subImages != null" >
        sub_images,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="evaluationNums != null" >
        #{evaluationNums,jdbcType=INTEGER},
      </if>
      <if test="goodEvaluationNums != null" >
        #{goodEvaluationNums,jdbcType=INTEGER},
      </if>
      <if test="mainImage != null" >
        #{mainImage,jdbcType=VARCHAR},
      </if>
      <if test="subImages != null" >
        #{subImages,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.beautifulsoup.chengfeng.pojo.PurchaseProduct" >
    update tb_purchase_product
    <set >
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="evaluationNums != null" >
        evaluation_nums = #{evaluationNums,jdbcType=INTEGER},
      </if>
      <if test="goodEvaluationNums != null" >
        good_evaluation_nums = #{goodEvaluationNums,jdbcType=INTEGER},
      </if>
      <if test="mainImage != null" >
        main_image = #{mainImage,jdbcType=VARCHAR},
      </if>
      <if test="subImages != null" >
        sub_images = #{subImages,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.beautifulsoup.chengfeng.pojo.PurchaseProduct" >
    update tb_purchase_product
    set category_id = #{categoryId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      evaluation_nums = #{evaluationNums,jdbcType=INTEGER},
      good_evaluation_nums = #{goodEvaluationNums,jdbcType=INTEGER},
      main_image = #{mainImage,jdbcType=VARCHAR},
      sub_images = #{subImages,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="AllResultMap" type="com.beautifulsoup.chengfeng.pojo.PurchaseProduct" extends="BaseResultMap">
    <collection property="purchaseProductSkus" column="id" ofType="com.beautifulsoup.chengfeng.pojo.PurchaseProductSku">
      <id column="s_id" property="id" jdbcType="INTEGER" />
      <result column="s_attribute_name" property="attributeName" jdbcType="VARCHAR" />
      <result column="s_sales" property="sales" jdbcType="INTEGER" />
      <result column="s_stock" property="stock" jdbcType="INTEGER" />
      <result column="s_price" property="price" jdbcType="DECIMAL" />
      <result column="s_spell_price" property="spellPrice" jdbcType="DECIMAL" />
      <result column="s_product_id" property="productId" jdbcType="INTEGER" />
    </collection>
  </resultMap>

<!--  <id column="id" property="id" jdbcType="INTEGER" />
  <result column="category_id" property="categoryId" jdbcType="INTEGER" />
  <result column="name" property="name" jdbcType="VARCHAR" />
  <result column="subtitle" property="subtitle" jdbcType="VARCHAR" />
  <result column="status" property="status" jdbcType="INTEGER" />
  <result column="evaluation_nums" property="evaluationNums" jdbcType="INTEGER" />
  <result column="good_evaluation_nums" property="goodEvaluationNums" jdbcType="INTEGER" />
  <result column="main_image" property="mainImage" jdbcType="VARCHAR" />
  <result column="sub_images" property="subImages" jdbcType="VARCHAR" />-->

  <select id="selectProductDetailById" resultMap="AllResultMap" parameterType="java.lang.Integer" >
    select p.id,p.category_id,p.name,p.subtitle,p.status,p.evaluation_nums,p.good_evaluation_nums,p.main_image,p.sub_images,
    s.id s_id,s.attribute_name s_attribute_name,s.sales s_sales,s.stock s_stock,s.price s_price,s.spell_price s_spell_price,s.product_id s_product_id
    from tb_purchase_product p left join tb_purchase_product_sku s
    on p.id=s.product_id
    where p.id=#{productId,jdbcType=INTEGER}
  </select>

  <select id="selectAllPurchaseProducts" resultMap="AllResultMap" parameterType="java.lang.Integer" >
    select p.id,p.category_id,p.name,p.subtitle,p.status,p.evaluation_nums,p.good_evaluation_nums,p.main_image,p.sub_images,
    s.id s_id,s.attribute_name s_attribute_name,s.sales s_sales,s.stock s_stock,s.price s_price,s.spell_price s_spell_price,s.product_id s_product_id
    from tb_purchase_product p left join tb_purchase_product_sku s
    on p.id=s.product_id
  </select>
</mapper>